body {
    font-family: 'Roboto', sans-serif;
color: #434455; 
background-color: #fff;
}
ul, ol {list-style-type: none;}
a {text-decoration: none;}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

   .header-logo{
    display: inline-flex;
    display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        gap: 0px;
        padding-left: 156px ;

      
   }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;


}
     .nav-list  {

        display: inline-flex;
            gap: 24px;
           padding-left: 76; 
            padding-right: 332;

    }
    .contacts-list{ 
        display: inline-flex;
            gap: 24px;
    }
  


.logo {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;}
    .header-logo .logo-part {color: #2e2f42;}
    .footer-logo .logo-part {color:#f4f4fd;
   }
      

 .nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;}
        .nav-link:hover,
        .nav-link:focus {
         color: #404bbf;
        display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction:row;
            gap: 40px;
           
        }
       
.address {font-style: normal;}
 .contact-link
{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}  
      .contact-link:hover,
           .contact-link:focus {
           color: #404bbf;
       }
       .hero-container {
        display: flex;
        border: 1px solid #000;
            width: 1440px;
            height: 600px;
            background: #2e2f42;

       }
.main-header {font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    display: block;
    padding-left: 472px;
    padding-right:472px ;
    padding-top: 188px;
    padding-bottom: 48px;
    display: block;
text-align: center;
}
.main-text {
    background-color: #2e2f42;
}
.btn-order {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
border-style: none;
cursor: pointer;
}
.btn-order:hover,
.btn-order:focus {background-color:#404bbf;}

   .header-text { 
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
   }
.text {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
    background-color:#f4f4fd;
}

     
.team-header {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42
}
.team-list {
    background-color: #FFFFFF;
}
.team-member {
    background-color: #FFFFFF;
}
  .team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    background-color: #FFFFFF;

}
    
 .team-desc {
font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.img-porfolio-service {
font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

 .img-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.description {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.page-footer {
    background-color: #2e2f42;
    
}
.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}